@import "./_vars.scss";
@import "../../node_modules/include-media/dist/include-media.scss";

@mixin link($color: $blue, $hoverColor: $red) {
  color: $blue;
  transition: color 0.2s ease;
  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}
