$white: #fff;
$black: #000;
$blue: #0000ff;
$red: #ff0000;

$defaultFontFamily: "Helvetica, Arial, sans-serif";
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
